html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

#yesButton {
  position: absolute;
  cursor: pointer;
  opacity: 100%;
  font-family: "ClashDisplay-Regular";
  opacity: 100%;
  font-size: 70px;
  border-radius: 100px;
  background: #cf82fe;
  border: 1.5px solid;
  border-color: #000000;
  color: #000000;
}

#yesButton:hover {
  transition: background-color 0.2s;
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}

#noButton {
  position: absolute;
  cursor: pointer;
  opacity: 100%;
  font-family: "ClashDisplay-Regular";
  opacity: 100%;
  font-size: 70px;
  border-radius: 100px;
  background: #68f6ff;
  border: 1.5px solid;
  border-color: #000000;
  color: #000000;
}

#noButton:hover {
  transition: background-color 0.2s;
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}

a {
  color: black;
}